	body {
	background: url(../img/login_bg.png) no-repeat top center;
}
.login {
	right: 80px;
	top: 300px;
}
.login input {
	font-size: 20px;
	border: none;
	height: 40px;
	text-indent: 10px;
}
/*白云飘飘*/

